<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/header.ejs'); %>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

<button id='leave' class="btn">Leave Game</button>
<button id='rematch' class="btn">Rematch</button>
<br>

<div>
    <table>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<script src='../js/game.js'></script>
</body>

</html>