<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/header.ejs'); %>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

<button id='create' class="btn">Create Game</button>
<button id='rematch' class="btn">Rematch</button>
<br>
<button id='join' class="btn">Join Game</button>
<input id='room_id' class="textInp" type='text' placeholder='room_id'>


<script src='../js/index.js'></script>
</body>

</html>