.btn {
    width: 100px;
    margin: 4px;
    padding: 4px;
    border: 1px solid green;
    border-radius: 5px;
    background: white;
}

.btn:focus {
    background-color: #eee;
    border: 1px solid red;
    outline: none;
}

.textInp {
    margin: 4px;
    padding: 4px;
    border: 1px solid green;
    border-radius: 5px;
}

.textInp:focus {
    border: 1px solid red;
    outline: none;
}